/*define color variables*/
:root {
    --dark: #4a4747;
    --light-text: #fff;
    --hover: rgba(0, 136, 255, 0.565);
}

/*reset browser default margin and establish body properties and view port height*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

/*title block styling*/
header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(../images/laminate.jpg);
    color: var(--light-text);
    font-weight: 900;
}

header h1 {
    flex: 1;
}

header h1 {
    padding-left: 30px;
}

header h2 {
    text-align: right;
    padding-right: 60px;
}

/*nav menu styling*/
nav ul {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 40px;
}

nav ul li {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    color: var(--dark);
}

li a:hover,
li a:link {
    text-decoration: none;
    color: var(--hover);
}

/*About section styling*/
.about {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-left: 10%;
}

.about-cont {
    background-image: url("../images/paneling.jpg");
}

.about-flex-1 {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.about-flex-1 img {
    max-width: 100%;
}

.about-flex-2 {
    flex: 1;
    color: var(--light-text);
}

.about-flex-2 h2 {
    text-align: center;
}

.about-flex-2 p {
    font-size: 20px;
}

/*Project section styling*/
#projects {
    margin: 0 20px;
}


.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proj-title {
    text-align: center;
}

.project-main {
    display: flex;
    flex: 1 1 auto;
    min-width: 200px;
    margin: 20px;
    justify-content: center;
}

.project-main img {
    max-width: 100%;
}

.project-main-inner:hover,
.project-flex-inner:hover {
    box-shadow: inset 0px 0px 5px
    var(--dark), 0 0 10px
    var(--dark);
}

.project-main-inner,
.project-flex-inner {
    border: solid var(--dark) 5px;
}

.project-main-inner h3 {
    text-align: center;
}

.proj-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-flex {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;
    min-width: 200px;
    margin: 20px;
}

.project-flex img {
    max-width: 100%;
}

.project-flex-inner h3 {
    text-align: center;
}

/*Contact section styling*/
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0 20px 0;
}

.contact section h2,
.contact section p{
    display: flex;
    justify-content: space-around;
    color: var(--dark);
}

.contact section p {
    font-size: 1.5em;
    font-family: "Segoe Script", "Lucida Handwriting", cursive;
    transform: rotate(-5deg);
}

/*footer styling*/
footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/sand.jpg);
    color: var(--light-text);
}

footer section {
    display: flex;
    align-items: center;
}

.author {
    display: flex;
    flex: 1;
    border: solid var(--light-text) 2px;
    margin: 20px;
    padding: 0 10px;
    color: var(--light-text);
    font-size: 12px;
}

/*media queries*/
@media screen and (max-width: 768px) {
    .about {
        width: auto;
        margin-left: 0;
        flex-direction: column;
        padding: 0 10px;
    }

    .contact {
        margin: 0 10px;
    }

    footer {
        flex-direction: column;
        padding: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    header h1 {
        text-align: center;
    }

    nav ul {    
        gap: 5%;
    }

    // .about {
    //     width: auto;
    //     margin-left: 0;
    //     flex-direction: column;
    // }

    
}